@font-face 
{
    font-family: spookyFont;
    src: url(../fonts/RubikWetPaint-Regular.ttf);
}
body, html
{
    margin: 0;
    padding: 0;
}
hr
{
    margin-left: 5%;
    margin-right: 5%;
    margin: 3%;
}
.doprostred
{
    display: flex;
    justify-content: center;
}
@media screen 
{
    .dropdown:hover .dropdown-menu,
    .btn-group:hover .dropdown-menu {
        display: block;
        animation: anim 200ms ease-out forwards;
    }
    .dropdown-menu {
        margin: auto;
    }
    .dropdown-toggle {
        margin: auto;
    }
    .navbar .dropdown-toggle,
    .nav-tabs .dropdown-toggle {
        margin: auto;
    }
}
@media screen and (max-width: 410px)
{
    #btn-hide-on-sm-screen
    {
        display:none;
    }
}
html
{
    font-size: 1.3rem;
    background-color: #343a40;
}
.menuHover
{
    font-weight: bold;
    font-size: 0rem;
}
.menuMenu
{
    font-size: 1rem;
}
@keyframes anim
{
    0%{display: none; opacity: 0;}
    100%{display: block; transform:translateY(-7%); opacity: 1;}
}
.rounded-circle
{
    transition: 200ms;
    box-shadow: 0px 0px 20px;
}
.rounded-circle:hover
{
    transform: scale(105%);
    transition: 200ms;
}
.navbar
{
    background-color: white;
}
.rounded
{
    transition: 200ms;
}
.rounded:hover
{
    transform: scale(102%);
    transition: 200ms;
}
.content
{
    background-image: url('../img/dyne.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}